.nested-fields
  = link_to_remove_association f, class: 'badge bg-warning text-dark' do
    .fas.fa-times
  = f.input :title
  -# = f.label :content
  -# = f.rich_text_area :content
  -# %small= f.error :content, class: 'text-danger'
  = f.input :content, as: :rich_text_area
  = f.label :video_thumbnail
  -# .row
  -# - if @lesson.video_thumbnail.attached?
  -#   .row
  -#     = image_tag @lesson.video_thumbnail
  = f.file_field :video_thumbnail
  %small= f.error :video_thumbnail, class: 'text-danger'

  = f.label :video
  .row
  = f.file_field :video
  %small= f.error :video, class: 'text-danger'
