= render layout: 'courses/course_wizards/template' do
  = simple_form_for(@course, url: course_course_wizard_path, method: :put) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    .form-inputs.field
      = f.input :language, collection: ["English", "Russian", "Japanese"]
      = f.input :level, collection: ["Beginner", "Intermidiate", "Advanced"], prompt: "Select the level"
      = f.input :price
      = f.label :tag
      -# -# tag form using cocoon
      -# #tags
      -# / simply renders a form
      -# = f.simple_fields_for :course_tags do |course_tag|
      -# = render 'course_tag_fields', f: course_tag
      -# .links.mt-1
      -# / creates add course tag form button
      -# = link_to_add_association '・Add another tag', f, :course_tags, class: "btn btn-sm btn-success"
      -# tag form using selectize
      = f.select :tag_ids, Tag.all.pluck(:name, :id), {}, { multiple: true, class: "selectize" }
    %hr/
    .form-actions
      = f.button :submit, "Save & Continue", class: 'btn btn-sm btn-primary'
