- content_for :title do
  Ruby Gems Bootcamp
  \|
  Courses
  \|
  = @course.title
  \|
  Lessons
  \|
  = @lesson.title
  Edit Comment:

=link_to "Courses", courses_path
\/
=link_to @course.title, course_path(@course)
\/
= @lesson.title
\/
Edit Comment
%hr

.card
  .card-header
    %h3
      .far.fa-edit
      Edit Comment
  .card-body
    = render 'lessons/comments/form'
  .card-footer
    = link_to 'Back', [@course, @lesson], class: 'btn btn-sm'