.card
  .card-header
    Join the course:
    %br
    %h3
      .fas.fa-graduation-cap
      = @course.title
  .card-body
    // = render 'enrollments/form', course: @course
    = form_with url: course_enrollments_path(@course, method: :post) do |f|
      = submit_tag "pay #{number_to_currency(@course.price)}", class:'btn btn-success text-light'

  .card-footer
    = link_to 'Back', enrollments_path

// %h1 New enrollment

// = render 'form'

// = link_to 'Back', enrollments_path
