-# frozen_string_literal: true
= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    -# = f.label :content
    -# = f.rich_text_area :content
    -# %small= f.error :content, class: 'text-danger'
    = f.input :content, as: :rich_text_area   
    = f.label :video_thumbnail
    .row
    - if @lesson.video_thumbnail.attached?
      .row
        = image_tag @lesson.video_thumbnail
    = f.file_field :video_thumbnail
    %small= f.error :video_thumbnail, class: 'text-danger'

    = f.label :video
    .row
    = f.file_field :video
    %small= f.error :video, class: 'text-danger'

    // = f.association :course
    // = f.input :course_id, input_html: {value: @lesson.course_id || params[:course_id]}, as: :hidden
  %br
  .form-actions
    = f.button :submit, class: 'btn btn-success'

- if @lesson.errors.any?
  :javascript
    $(document).ready(function() {
      console.log("hoge____")
      history.pushState('', '', location.href + '/new')
    });
