.card
  .card-header
    %b Title:
    = link_to lesson.title, course_lesson_path(@course, lesson)
  - if policy(lesson).show?
    .card-body
      = lesson.content
  .card-footer
    -# %p
    -#   %b Course:
    -#   = lesson.course
    - unless current_page?(course_lesson_path(@course, lesson))  
      = link_to 'Show', course_lesson_path(@course, lesson), class: 'btn btn-sm btn-primary'  
    - if policy(lesson).edit?
      = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
      -# methodでpost delete put etcから指定出来る？
      -# link_to 'リンクの文言', 'パス', class: 'クラス名', method: :HTTPリクエスト %>
      = link_to 'Delete', course_lesson_path(@course, lesson), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger'
      - if current_page?(course_lesson_path(@course, lesson))
        = link_to 'Back',  course_path(@course), method: :get, class: 'btn btn-sm btn-primary'