-# if you use mason
-# .card.grid-item
.card
  .card-header
    .fa.fa-graduation-cap
    = link_to course.title, course_path(course)
  .card-body
    %small= simple_format(course.short_description)
    // = course.description
  .card-footer
    .text-center
      -# .fas.fa-dollar-sign
      -# = course.price
      = number_to_currency(course.price)
  .card-footer
    .fas.fa-book
    = course.lessons.count
  .card-footer
    .row
      .col-6
        .fa.fa-language
        = course.language
      .col-6
        .text-end
          .fa.fa-signal
          = course.level
  .card-footer
    .fa.fa-clock
    = course.created_at.strftime('%d-%b-%Y')
    .row
    .fa.fa-chalkboard-teacher
    = course.user
  .card-footer
    - if policy(course).edit?
      = link_to 'Show', course, class: 'btn btn-sm btn-primary'
      = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
      = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
