-# if you use mason
-# .card.grid-item
.card
  .card-header
    .fa.fa-graduation-cap
    = link_to course.title, course_path(course)
  .card-body
    %small= simple_format(course.short_description)
    // = course.description
  .card-footer
    .text-center
      -# .fas.fa-dollar-sign
      -# = course.price
      // = number_to_currency(course.price)
      = enrollment_button(course)
      // // moved to enrollment_button method in course helper
      // - if current_user
      //   - if course.user == current_user
      //     = link_to "You created this course. View analytics", course_path(course)
      //   - elsif course.enrollments.where(user: current_user).any?
      //     = link_to "You bought this course. Keep learning", course_path(course)
      //   - elsif course.price > 0
      //     = link_to number_to_currency(course.price), new_course_enrollment_path(course), class: 'btn btn-success text-light'
      //   - else
      //     = link_to "Price: Free", new_course_enrollment_path(course), class: 'btn btn-success text-light'
      // - else
      //   - unless current_page?(course_path(course))
      //     = link_to "Check the price", course_path(course), class: "btn btn-md btn-success text-light"
      //   - else 
      //     = number_to_currency(course.price)
      // // %br
      // // .d-grid
      // //   = link_to "Join the course", new_enrollment_path(course_id: @course), class: 'btn btn-sm btn-success'
  .card-footer
    .row
      .col-6
        .fas.fa-star
        = course.average_rating
      .col-6
        .text-end
          .fas.fa-book
          = course.lessons_count
    .row
      .col-12
        Enrollment counts:
        =course.enrollments_count
  .card-footer
    .row
      .col-6
        .fa.fa-language
        = course.language
      .col-6
        .text-end
          .fa.fa-signal
          = course.level
  .card-footer
    .fa.fa-clock
    = course.created_at.strftime('%d-%b-%Y')
    .row
    .fa.fa-chalkboard-teacher
    -# = course.user
    = link_to course.user, user_path(course.user)
  
  - if policy(course).edit?
    .card-footer
      = link_to 'Show', course, class: 'btn btn-sm btn-primary'
      = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
      = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
  - if policy(course).destroy?
    .card-footer
      - if course.published?
        .badge.bg-success published
      - else
        .badge.bg-danger unpublished
      - if course.approved?
        .badge.bg-success approved
      - else
        .badge.bg-danger unapproved
  - if policy(course).approve?
    .card-footer
      - if course.approved?
        = link_to 'unapprove', unapprove_course_path(course), method: :patch, class: 'btn btn-sm btn-danger'
      - else
        = link_to 'approve', approve_course_path(course), method: :patch, class: 'btn btn-sm btn-success'