.container
  -# frozen_string_literal: true
  = simple_form_for(@course) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
  
    .form-inputs.field
      = f.input :title
      = f.label :descriptions
      = f.rich_text_area :description
      // = f.input :description, as: :rich_text_area
      // = f.input :description
  
    .form-actions
      = f.button :submit, class: 'btn btn-sm btn-primary'
  