- content_for :title do
  Coursego
  \|
  Courses
  \|
  Course Detail:
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
-# = render 'courses/course', course: @course
%hr

.row
  .col-lg-6
    = render 'courses/course', course: @course
  .col-lg-6
    - if policy(@course).edit?
      .d-grid
        = link_to 'Add lesson', new_course_lesson_path(@course, course_id: @course.id), class: 'btn btn-primary btn-sm btn-block'
    %hr
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson
      %hr
    - if @enrollment and policy(@enrollment).edit?
      .d-grid
        = link_to 'Review this course', edit_enrollment_path(@enrollment), class: 'btn btn-primary btn-sm btn-block'
